In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
vdf = pd.read_csv("../data/zipcode_vaccine.csv", dtype={"ZIP": str})
vdf["ZIP"] = vdf["ZIP"].str.zfill(5)
cdf = pd.read_csv("../data/race_zipcode.csv", dtype={"ZCTA5": str})
cdf[cdf["ZCTA5"] == "02141"]

     ZCTA5   Total  White  Black  AI/AN  Asian  NH/PI
359  02141  14,522  9,704  1,418     20  2,246     13

In [12]:
def p(s):
    return int(s.replace(",", "").replace("*", "0"))

final = []

from collections import defaultdict

black_zip_pops = defaultdict(int)
white_zip_pops = defaultdict(int)

for index, row in vdf.iterrows():
    census = cdf[cdf["ZCTA5"] == row["ZIP"]].squeeze()
    if len(census) == 0:
        continue

    z = row["ZIP"]
    white_zip_pops[z] = max(white_zip_pops[z], p(census["White"]))
    black_zip_pops[z] = max(black_zip_pops[z], p(census["Black"]))

for index, row in vdf.iterrows():
    census = cdf[cdf["ZCTA5"] == row["ZIP"]].squeeze()
    if len(census) == 0:
        continue
    
    z = row["ZIP"]

    final.append({
        "date": row["Date"],
        "zip": row["ZIP"],
        "Black": p(row["Black"]),
        "White": p(row["White"]),
        "BlackPop": black_zip_pops[z],
        "WhitePop": white_zip_pops[z],
        "TotalPop": p(census["Total"])
    })

In [13]:
import ujson as json
with open("../vis/src/assets/combined.json", "w") as f:
    json.dump(final, f)

In [5]:
vdf[vdf["Date"] == "March-11-2021"]

,Date,ZIP,AI/AN,Asian,Black,Hispanic,Multi,NH/PI,Other,White,Unknown
0,March-11-2021,01001,*,38,46,70,32,*,451,3050,173
1,March-11-2021,01002,*,186,120,117,53,*,280,3722,240
2,March-11-2021,01003,*,*,*,*,*,*,*,86,*
3,March-11-2021,01004,*,*,*,*,*,*,*,70,*
4,March-11-2021,01005,*,*,*,*,*,*,*,864,84
...,...,...,...,...,...,...,...,...,...,...,...
680,March-11-2021,02777,*,*,*,37,*,*,209,3085,277
681,March-11-2021,02779,*,*,*,*,*,*,50,1021,80
682,March-11-2021,02780,*,41,468,374,83,*,422,6259,814
683,March-11-2021,02790,*,*,*,43,*,*,202,3655,327
684,March-11-2021,02791,*,*,*,*,*,*,*,82,*

In [6]:
vdf["Date"].unique()

array(['March-11-2021', 'March-18-2021', 'March-25-2021', 'April-1-2021',
       'April-8-2021', 'April-15-2021'], dtype=object)