In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

C:\Anaconda3\envs\tensorflow2\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [53]:
vdf = pd.read_csv("../data/zipcode_vaccine.csv", dtype={"ZIP": str})
vdf["ZIP"] = vdf["ZIP"].str.zfill(5)
cdf = pd.read_csv("../data/race_zipcode.csv", dtype={"ZCTA5": str})
cdf[cdf["ZCTA5"] == "02141"]

     ZCTA5   Total  White  Black  AI/AN  Asian  NH/PI
359  02141  14,522  9,704  1,418     20  2,246     13

In [56]:
def p(s):
    return int(s.replace(",", "").replace("*", "0"))

final = []
for index, row in vdf.iterrows():
    census = cdf[cdf["ZCTA5"] == row["ZIP"]].squeeze()
    if len(census) == 0:
        continue

    final.append({
        "date": row["Date"],
        "zip": row["ZIP"],
        "Black": p(row["Black"]),
        "White": p(row["White"]),
        "BlackPop": p(census["Black"]),
        "WhitePop": p(census["White"]),
        "TotalPop": p(census["Total"])
    })

In [57]:
import ujson as json
with open("../vis/src/assets/combined.json", "w") as f:
    json.dump(final, f)

In [55]:
vdf[vdf["Date"] == "March-11-2021"]

,Date,ZIP,AI/AN,Asian,Black,Hispanic,Multi,NH/PI,Other,White,Uknown
0,March-11-2021,01001,*,38,46,70,32,*,451,3050,173
1,March-11-2021,01002,*,186,120,117,53,*,280,3722,240
2,March-11-2021,01003,*,*,*,*,*,*,*,86,*
3,March-11-2021,01004,*,*,*,*,*,*,*,70,*
4,March-11-2021,01005,*,*,*,*,*,*,*,864,84
...,...,...,...,...,...,...,...,...,...,...,...
681,March-11-2021,02779,*,*,*,*,*,*,50,1021,80
682,March-11-2021,02780,*,41,468,374,83,*,422,6259,814
683,March-11-2021,02790,*,*,*,43,*,*,202,3655,327
684,March-11-2021,02791,*,*,*,*,*,*,*,82,*
685,March-11-2021,Unspecified,76,2157,1715,1915,410,42,6369,34354,25523

In [58]:
vdf["Date"].unique()

array(['March-11-2021', 'March-18-2021', 'March-25-2021', 'April-1-2021'],
      dtype=object)